{% block content %}
{% load mathfilters %}
{% autoescape off %}
<script>
      //Fix "a.receiveContext is not a function" error. MUST DO.

      document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendar');
        let draggableEl = document.getElementById('patientNav');

        let calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid', 'timeGrid', 'interaction', 'rrule'],
          defaultView: 'timeGridWeek',
          editable: true,
          droppable: true,
          height: 'parent',
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
           },
           nowIndicator: true,
           selectable: true,
           dateClick: function(info){
            var view = calendar.view;
            if (view.type == 'dayGridMonth'){
                calendar.changeView('timeGridWeek');
                }
            if (view.type == 'timeGridWeek'){
                calendar.changeView('timeGridDay');
            }
            calendar.gotoDate(info.dateStr);
            calendar.select(info.dateStr);
           },
           /* -- This should totally work but it doesn't and I don't know why --
           dayRender: function(dayRenderInfo) {
            var element = dayRenderInfo.el;
            var view = dayRenderInfo.view;
            var date = dayRenderInfo.date;
            element.ondblclick = function(view, date) {
            if (view.type == 'dayGridMonth'){
                calendar.changeView('timeGridWeek');
                }
            if (view.type == 'timeGridWeek'){
                calendar.changeView('timeGridDay');
            }
            calendar.gotoDate(date.dateStr);
            calendar.select(date.dateStr);
           };
           },
           */
           events: [
           {% for appt in appointments %}
           {
            title: '{{appt.patient_name}}',
            {% if appt.rrule_str %}
            rrule: '{{appt.rrule_str}}',
            duration: '{{appt.time_end|sub:appt.time_start}}'
            {% else %}
            start: '{{appt.time_start|date:"Y-m-d H:i"}}',
            end: '{{appt.time_end|date:"Y-m-d H:i"}}'
            {% endif %}
           },
           {% endfor %}
           ],
        });
        calendar.render();
      });
</script>
{% endautoescape %}
{% endblock %}